# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Django
*.log
db.sqlite3
media/

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
